*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
}

.main-img {
  grid-area: image;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sidebar {
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%, 0.6);
  border-left: 1px solid hsl(265, 100%, 56%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  position: relative;
  transition: background-color 200ms ease;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: hsl(265, 100%, 56%, 0.3);
}

.sidebar-item.active {
  background-color: hsl(265, 100%, 26%, 0.3);
}

.sidebar-item::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 56%, 0.3);
}

.sidebar-item.download-btn {
  background-color: #27ae60;
  color: #ffffff;
}

.sidebar-item.download-btn:hover,
.sidebar-item.download-btn:focus {
  background-color: #219d54;
}

.sidebar-item.download-btn::after {
  display: none;
}

.slider-container {
  grid-area: slider;
  margin: 1rem;
  padding: 1rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-btn {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #3498db;
  color: #ffffff;
  transition: background-color 200ms ease;
}

.file-btn:hover,
.file-btn:focus {
  background-color: #2980b9;
}

.sidebar-item.file-btn::after {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "sidebar"
      "image"
      "slider";
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
  }

  .main-img {
    margin: 0;
  }

  .sidebar {
    width: 100%;
    overflow: scroll;
    flex-direction: row;
  }

  .sidebar-item:nth-last-child(2) {
    order: -2;
  }

  .file-btn {
    margin-top: 0;
  }
  .slider-container {
    margin: 0;
    padding: 10px;
  }
}
